<div class="container-fluid manageBg">
    <div class="row">
        <div class="col-sm-12 mtheight">
            <div>
                <button class="btncolor btn btn-success" routerLink="addnewairlines">
                    <mat-icon class="icon">add</mat-icon>New Airlines
                </button>
            </div>
            <div>
                <table class="table table-trappe tableovearll">
                    <thead >
                        <tr class="tablehead">
                            <th>Logo</th>
                            <th>Airline</th>
                            <th>Contact Number</th>
                            <th>Contact Address</th>
                            <th>View </th>
                            <th>Block/Unblock</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr class="tablebody" *ngFor="let airLineList of manageAirlines" nowrap>
                            <td>{{airLineList.airline_log}}</td>
                            <td>{{airLineList.airline_name }}</td>
                            <td>{{airLineList.contact_address}}</td>
                            <td>{{airLineList.contact_number}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" data-size="small">
                                    <span class="slider round"></span>
                                  </label>
                            </td> 
                            <td>
                                <button class="btn btn-danger" routerLink="/addnewairlines/{{airLineList.airline_id}}">View
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>