<div class="container-fluid manageBg">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <button class="btncolor btn btn-success" routerLink="/">
                    <mat-icon class="icon">add</mat-icon>New Airlines
                </button>
            </div>
            <div>
                <table class="table table-trappe ">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Airline</th>
                            <th>Contact Number</th>
                            <th>Contact Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-danger">View
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-dark">Block
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>