<div>
    <mat-toolbar *ngIf="isOpen" class="toptool">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-8 mt-1">
                    <ul style="padding: 0px;">
                        <li>
                            <mat-icon class="userflight">flight</mat-icon>
                        </li>
                        <li><a>Book Flight</a></li>
                        <li><a>Manage Booking</a></li>
                        <li><a>Booking History</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <button class=" btn btn-info logbtn" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>
<div>
    <mat-toolbar *ngIf="!isOpen" class="toptool">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-sm-8 mt-1">
                    <ul style="padding: 0px;">
                        <li><mat-icon class="userflight">flight</mat-icon></li> 
                        <li><a>Manage Schedules</a></li> 
                        <li ><a routerLink="/managediscounts" routerLinkActive="active-list-item">Manage Discounts</a></li> 
                        <li ><a routerLink="/manageairlines" routerLinkActive="active-list-item">Manage Airlines</a></li> 
                        <li><a>Reports</a></li> 
                     </ul>        
                </div>
                <div class="col-sm-4">
                    <button class=" btn btn-info logbtn" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>