<div class="bgblue">
    <div class="row bgshade ms-2">
        <div class="col-sm-6 mt-3">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2 pb-2">
                            <label class="mt-2 labeltext" for="username">USERNAME</label>
                        </div>
                        <div class='col-lg-10'>
                            <input type="text" formControlName="username" placeholder="Enter Username"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback errortext">
                                <div *ngIf="f.username.errors.required">*Username is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="row">
                        <div class="col-md-2 pb-2">
                            <label class="mt-3 labeltext" for="password">PASSWORD</label>
                        </div>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="password" formControlName="password" placeholder="Enter Password"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    [type]="hideEye ? 'text' : 'password'">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]=" { 'fa-eye-slash': !hideEye,'fa-eye': hideEye}"
                                            (click)="hideEyeText()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback errortext">
                                    <div *ngIf="f.password.errors.required">*Password is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5 mt-3 checkboxoverall">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="checkinput" type="checkbox" id="admin" formControlName="adminCheckbox" [(ngModel)]="isSelected">
                                    <label class="checkboxlable" for="admin">ADMIN</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mt-3">
                            <button class="btn btn-success" id="login" (click)="loginSubmit();">LOGIN</button>
                        </div>
                        <div class="col-md-3 mt-3">
                            <button type="button" class="btn btn-primary" routerLink="/register">SIGN UP</button>
                        </div>
                    </div>
                </div>
            </form>
            <h3 class="journfont mt-3">Enjoy the experience of sky journey with us by Login/Sign Up</h3>
            <ol class="orderlist">
                <li> Click the <button class="btn btn-primary btnsmall" disabled>SIGN UP</button></li>
                <li>Provide the required details for Sign Up.</li>
                <li><button class="btn btn-success btnsmall" disabled>LOGIN</button> to the application.</li>
                <li>Book your <mat-icon class="flight-list-icon">flight</mat-icon>tickets.</li>
                <li>Enjoy the journey.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="card cardsize">
                <div class="card-body">
                    <img class="flightsize" [src]="flightimg">
                    <div class="flighttexthead">
                        <h2>
                            <mat-icon class="flight-list-icon">flight</mat-icon>
                            WELCOME TO FLIGHT BOOKING
                            <mat-icon class="flight-list-icon">flight</mat-icon>
                        </h2>
                    </div>
                    <div class="flighttext">
                        <p>When once you have tasted flight, you will forever walk the earth with your eyes turned
                            skyward,for there you have been, and there you will always long to return.</p>
                        <p>Man must rise above the Earth-to the top of the atmosphere and beyond-for only thus will
                            he fully understand the world in which he lives.</p>
                        <p>Within all of us is a varying amount of space lint and star dust, the residue from our
                            creation. Most are too busy to notice it, and it is stronger in some than others. It is
                            strongest in those of us who fly and is responsible for an unconscious, subtle desire to
                            slip into some wings and try for the elusive boundaries of our origin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>