.toptool{
    background-image: linear-gradient(to right, rgb(26, 51, 98), rgba(21, 119, 184, 0.778));
    color: white;
}
.mat-toolbar-single-row {
    padding: 0 !important;
}
.fsize{
    font-size: medium;
    float: right;
}
.bgblue{
    background-image: url("../../assets/images/bluebg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100%;
}
.bgshade{
    background-color:rgb(247, 247, 247,0.1);
    width: 99%;
    color: white;
    padding: 10px;
    border-radius: 12px; 
    padding: 0px;
}
.cardsize{
    height: 100%;
}
.flightsize{
    width: 100%;
    height:250px;
}
.align-label{
    vertical-align: sub;
}
.btnsmall{
    width: 80px;
    height: 30px;
    font-size: smaller;
    margin: 0;
}
.flight-list-icon{
    font-size:20px;
    vertical-align:middle;
}
mat-toolbar{
    display: flex;
    position: fixed;
    z-index:1;
  }
.mtsize{
    margin-top: 80px!important;
  }
.labeltext{
    font-size: 17px;
}
.flighttexthead{
    color: black;
    text-align: center;
}
.flighttext{
    color: black;
    font-size: medium;
}
.errortext{
    color: white;
    font-size: medium;
}
.journfont{
    font-size: 17px;
    font-weight:500;
}
.orderlist{
    line-height: 40px;
    font-size:17px;
    font-weight:500;
}
.card-body{
    padding-top: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
ol {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 15px;
}
input.checkinput{
    width: 20px;
    height:20px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.checkboxlable{
    background-color: red;
    padding:7px;
    border-radius: 5px;
}
.checkboxoverall{
    float: right !important;
}
