<div class="back">
    <div class="container">
        <div class="row bck">
            <div class="col-12 mx-auto">
                <div class="row">
                    <div class="col-7 headin">
                        Manage Discount
                    </div>
                    <div class="col-5 ">
                        <button class="btn btn-success buttonadd"  routerLink="/addnewairlines"><mat-icon class="addco">add</mat-icon> New Discount</button>
                    </div>
                </div>
                <div *ngIf="managediscount?.length > 0">
                <table class="table table-trapped mt-3" >
                    <thead>
                        <tr>
                            <th>Discount Code</th>
                            <th>Discount Price</th>
                            <th>Discount Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let discount of managediscount">
                            <td>{{discount.discount_code}} </td>
                            <td>{{discount.discount_price}} </td>
                            <td>{{discount.discount_comment}} </td>
                            <td>{{discount.discount_comment}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="center" *ngIf="managediscount?.length < 1">
                    <h3 class="nodisk" > No Discounts Available!</h3>
                </div>
            </div>
        </div>
    </div>
</div>