/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flight-main-icon{
    margin-right: 15px;
    vertical-align:text-bottom;
  }

/* snackBar start*/
  .failure-snackbar{
    background-color: rgb(181, 62, 62);
    color: white;
  }
  .btnfail-snackbar button{
    color: white;
  }
  .success-snackbar{
    background-color: green;
    color: white;
  }
  .btnsuc-snackbar button{
    color: white;
  }

  .warning-snackbar{
    background-color: orange;
    color:white;
  }
  .btnwarn-snackbar button{
    color:white;
  }

  /* snackBar end*/

  .mat-dialog-container {
    background-image: linear-gradient(to right, rgb(70, 144, 184), rgba(255, 255, 255, 0.637)) !important;
    width: 500px !important;
  }

  .toptool{
    background-image: linear-gradient(to right, rgb(26, 51, 98), rgba(21, 119, 184, 0.778));
    color: white;
    position: fixed;
    z-index: 1;
}
.fsize{
    font-size: medium;
    float: right;
}