.top{
    background-image: linear-gradient(to right, rgb(26, 51, 98), rgba(21, 119, 184, 0.778));
    color: white;
}
.flight-icon{
    display: inline-flex;
    vertical-align:sub;
    margin-right: 10px;
}
.mat-toolbar-single-row {
    padding: 0px!important;
}
.customerCare{
    font-size: 15px;
    float: right;
}
.back{
    background-image: url("../../assets/images/bluebg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.signUp{
    color:white;
}
label{
    color:white;
    font-weight:500;
    font-size: 15px;
    vertical-align:sub;
}
.err{
    color:white;  
    font-size: 14px; 
}
.bck{
    background-image: linear-gradient(to right, rgba(246, 246, 246, 0.034), rgba(21, 119, 184, 0.778));
    border-radius: 10px;
    
}


@media only screen and (max-width: 576px)
 {
    .customerCare{
        float: none;
    }
}