
.back{
    background-image: url("../../assets/images/bluebg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}
.signUp{
    color:white;
}
label{
    color:white;
    font-weight:500;
    font-size: 15px;
    vertical-align:sub;
}
.err{
    color:white;  
    font-size: 14px; 
}
.bck{
    background-image: linear-gradient(to right, rgba(246, 246, 246, 0.034), rgba(21, 119, 184, 0.778));
    border-radius: 10px;
    
}
.adInp{
    width:20px;
    height:20px; 
    vertical-align:middle;
    margin-right: 5px; 
    color:red
}
.adLab{
    background-color: red;
    padding: 8px;
    border-radius: 5px;
}
@media only screen and (max-width: 576px)
 {
    .customerCare{
        float: none;
    }
}